container_commands:
  01_migrate:
    command: "docker run --env-file /opt/elasticbeanstalk/deployment/env.list aws_beanstalk/staging-app python manage.py migrate --noinput"
    leader_only: true
  02_create_admin:
    command: "docker run --env-file /opt/elasticbeanstalk/deployment/env.list aws_beanstalk/staging-app python manage.py create_user --role=owner"
    leader_only: true